<launch>
    <param name="mode"       type="int" value="2" />
    <param name="nf"      type="int" value="2" />
    <param name="soltype"  type="int" value="0" />
    <param name="roverMeasureFile" type="string" value="$(find global_fusion)/dataset/gps_solution_TST2/2020_06_03_TST_03.obs" />
    <param name="baseMeasureFile" type="string" value="$(find global_fusion)/dataset/gps_solution_TST2/hksc155d.20o" />
    <param name="BeiDouEmpFile" type="string" value="$(find global_fusion)/dataset/gps_solution_TST2/hksc155d.20b" />
    <param name="GPSEmpFile" type="string" value="$(find global_fusion)/dataset/gps_solution_TST2/hksc155d.20n" />
    <param name="out_folder" type="string" value="$(find global_fusion)/dataset/gps_solution_TST2/rtklibResult.pos" />
    <node name="gnss_preprocessor_node" pkg="global_fusion" type="gnss_preprocessor_node" output="screen" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 map base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake_m2w" args="0 0 0 0 0 0 map world" />
</launch>